@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  --color-primary: #618DF7;
  --color-secondary: #2D67F4;
  --color-white: #FFFFFF;
  --color-gray: #444656;
  --color-body-background: #0B1229;
  --color-section-background: #101934;
}

body {
  color: var(--color-white);
  background-color: var(--color-body-background);
}

.wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.hidden {
  display: none;
}