.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.button__primary,
.button__secondary {
  color: var(--color-white);
  transition: .4s;
}

.button__primary {
  background-color: var(--color-primary);
}

.button__secondary {
  background-color: var(--color-gray);
}

.button__primary:hover,
.button__secondary:hover {
  background-color: var(--color-secondary);
}

.button--small {
  height: 3rem;
  border-radius: .75rem;
  padding: 0 1.25rem;
  font-size: 1.125rem;
}

.button--big {
  height: 3.5rem;
  border-radius: 1rem;
  padding: 0 2.25rem;
  font-size: 1rem;
}