/* BASE STYLES */
@import url('./base/reset.css');
@import url('./base/global.css');
@import url('./base/texts.css');

/* LAYOUT STYLES */
@import url('./layout/header.css');
@import url('./layout/main.css');
@import url('./layout/section.css');
@import url('./layout/footer.css');

/* MODULES STYLES*/
@import url('./modules/menu.css');
@import url('./modules/button.css');
@import url('./modules/card-server.css');
@import url('./modules/faq.css');
@import url('./modules/card-plan.css');

body {
  color: var(--color-white);
  background-color: var(--color-body-background);
}

.wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


.hidden {
  display: none;
}