.section {
  margin-bottom: 6.5rem;
}

.section h2 {
  margin-bottom: 4rem;
  text-align: center;
}

.section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2.5%;
  row-gap: 1.5rem;
  margin-bottom: 3rem;
}

.section__cards .card-server {
  width: 48.75%;
}

@media screen and (max-width: 960px) {
  .section__cards .card-server {
    width: 100%;
  }
}

.section__button-group {
  text-align: center;
}

.section__plans h2 {
  margin-bottom: 0;
}

.section__plans p {
  max-width: 34rem;
  margin: 2rem auto 4rem;
  text-align: center;
}

.section__plans .section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3.5%;
}

.section__cards .card-plan {
  width: 31%;
  min-width: 19rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .section__cards .card-plan {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .section__cards .card-plan {
    width: 100%;
  }
}